// Variables
$website-width: 1280px;
$primary-color: #f4acb7;
$secondary-color: #ffcad4;
$light-color: #ffe5d9;
$dark-color: #9d8189;
$medium-color: #d8e2dc;
$header-image: url("../images/header-image.jpg");
