// Variables
$website-width: 1280px;
$primary-color: #f4acb7;
$secondary-color: #ffcad4;
$light-color: #ffe5d9;
$dark-color: #9d8189;
$medium-color: #d8e2dc;
$header-image: url("https://images.unsplash.com/photo-1506793324087-e217c95cb1b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
