.lead {
  font-size: 1.5rem;
}

// padding Y
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

// site-content container

.container {
  padding: 2rem 1rem;
  margin: auto;
  max-width: $website-width;
  overflow: hidden;
}

// buttons
.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 1rem 1.3rem;
  &-lead {
    color: #fff;
    text-align: center;
    animation: slide 2s ease-in-out infinite;
  }
  &-light {
    background-color: $light-color;
    color: #000;
  }

  &-dark {
    background-color: $dark-color;
    color: #ffffff;
  }
}

// Animate arrow keyframe

@keyframes slide {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(0, 0);
  }
}
