@import "config";
@import "utilities";
@import "gallery";

* {
  margin: 0;
  padding: 0;
}

// General Styles

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: $secondary-color;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// logo

.logo {
  width: 80px;
  height: 80px;
  color: $dark-color;
  text-transform: uppercase;
}

// Main Nav
.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  ul {
    display: flex;
  }
  li {
    margin: 1rem 1.5rem;
  }

  a {
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    &:hover {
      border-color: $primary-color;
    }
    &.current {
      border-color: $primary-color;
    }
  }
}

// Header

#header {
  // Header home
  &-home {
    background: $header-image no-repeat center center / cover;
    height: 100vh;
    color: #fff;
    line-height: 1.6;
    .header-content {
      text-align: center;
      padding-top: 10%;
      h1 {
        font-size: 3rem;
        line-height: 1.2;
      }
    }
  }
  // Header inner
  &-inner {
    background: $header-image no-repeat center 40% / cover;
  }
}

// Home-a "what we have" wwh/

#home-a {
  text-align: center;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $primary-color;
  }
  .wwh-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .icon-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    color: $dark-color;
    transition: background-color 1s ease;
    a {
      transition: transform 1s ease, color 1s ease;
      color: $dark-color;
    }
    &:hover {
      background-color: $dark-color;
      color: $light-color;
      a {
        transform: scale(1.4);
        color: $light-color;
      }
    }
  }
  .wwh-content {
    padding-top: 1rem;
    color: $dark-color;
  }
}

// inner-a 



// Footer

#footer {
  .container {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .social-media-container {
      display: block;
      a {
        padding: 1.1rem 2rem;
        color: $dark-color;
        transition: color 0.5s;
        &:hover {
          color: $light-color;
        }
      }
    }
  }

  .copyright {
    display: inline-block;
    color: $dark-color;
  }
}
