.lead {
  font-size: 1.5rem; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.size-1 {
  font-size: 16px; }

.size-2 {
  font-size: 22px; }

.size-3 {
  font-size: 26px; }

.container {
  padding: 2rem 1rem;
  margin: auto;
  max-width: 1280px;
  overflow: hidden; }

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1rem; }
  .btn-lead {
    color: #fff;
    text-align: center;
    animation: slide 2s ease-in-out infinite; }
  .btn-light {
    background-color: #ffe5d9;
    color: #000; }
  .btn-dark {
    background-color: #9d8189;
    color: #ffffff; }

input {
  border: 1px transparent solid;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #ffe5d9;
  color: #9d8189; }
  input:focus {
    border-color: #9d8189;
    outline: none; }

@keyframes slide {
  0%,
  100% {
    transform: translateY(10px); }
  50% {
    transform: translate(0, 0); } }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #ffcad4; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

h2,
h3,
h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

.logo {
  width: 80px;
  height: 80px;
  color: #9d8189;
  text-transform: uppercase; }

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; }
  .main-nav ul {
    display: flex; }
  .main-nav li {
    margin: 1rem 1.5rem; }
  .main-nav a {
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; }
    .main-nav a:hover {
      border-color: #f4acb7; }
    .main-nav a.current {
      border-color: #f4acb7; }

#header-home {
  background: url("../images/header-image.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  line-height: 1.6; }
  #header-home .header-content {
    text-align: center;
    padding-top: 10%; }
    #header-home .header-content h1 {
      font-size: 3rem;
      line-height: 1.2; }

#header-inner {
  background: url("../images/header-image.jpg") no-repeat center 40%/cover; }

#home-a {
  text-align: center; }
  #home-a .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4acb7; }
  #home-a .wwh-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  #home-a .icon-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcad4;
    color: #9d8189;
    transition: background-color 1s ease; }
    #home-a .icon-container a {
      transition: transform 1s ease, color 1s ease;
      color: #9d8189; }
    #home-a .icon-container:hover {
      background-color: #9d8189;
      color: #ffe5d9; }
      #home-a .icon-container:hover a {
        transform: scale(1.4);
        color: #ffe5d9; }
  #home-a .wwh-content {
    padding-top: 1rem;
    color: #9d8189; }

#recepies-a .recepies {
  display: flex;
  flex-direction: column;
  background-color: #f4acb7; }

#recepies-a .recepie-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

#recepies-a .recepies-header {
  text-align: center; }

#recepies-a .img-rcp-container {
  flex: 1;
  display: flex;
  align-items: center; }
  #recepies-a .img-rcp-container img {
    border-radius: 5px;
    opacity: 0.9;
    transition: opacity 0.5s; }
    #recepies-a .img-rcp-container img:hover {
      opacity: 1; }

#recepies-a .prep-rcp-container {
  flex: 2;
  padding: 0 2rem; }
  #recepies-a .prep-rcp-container h3,
  #recepies-a .prep-rcp-container h4 {
    text-align: center; }
  #recepies-a .prep-rcp-container ul li {
    border-bottom: 1px dotted #9d8189; }
  #recepies-a .prep-rcp-container p {
    line-height: 1.7; }

#recepies-a .recepies-footer {
  text-align: center;
  display: flex;
  flex-direction: column; }
  #recepies-a .recepies-footer .subscribe-form ul {
    display: flex;
    flex-direction: column; }
    #recepies-a .recepies-footer .subscribe-form ul li {
      margin: 0.5rem; }

#gallery .gallery-header {
  text-align: center; }

#gallery .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

#gallery .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  #gallery .item-image {
    height: 100%;
    width: 100%; }
    #gallery .item-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
  #gallery .item .item-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%; }
    #gallery .item .item-text-wrap .item-text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      color: #ffe5d9;
      transform: translateY(-50%); }

#footer .container {
  background-color: #f4acb7;
  display: flex;
  flex-direction: column;
  text-align: center; }

#footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  #footer .social-media .social-media-container {
    display: block; }
    #footer .social-media .social-media-container a {
      padding: 1.1rem 2rem;
      color: #9d8189;
      transition: color 0.5s; }
      #footer .social-media .social-media-container a:hover {
        color: #ffe5d9; }

#footer .copyright {
  display: inline-block;
  color: #9d8189; }
