$primary-color: #2ec4b6;
$secondary-color: #ff9f1c;
$medium-color: #2ec4b6;
$light-color: #fdfffc;
$dark-color: #011627;

$header-image: url("https://images.unsplash.com/photo-1552386200-f0d20cc1bd23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80");
